In [21]:
import pandas as pd
import os

In [22]:
ufo=pd.read_table('http://bit.ly.uforeports',sep=',')

URLError: <urlopen error [Errno 11004] getaddrinfo failed>

In [25]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [27]:
ufo['State']

0        NY
1        NJ
2        CO
3        KS
4        NY
5        ND
6        CA
7        MI
8        AK
9        OR
10       CA
11       AL
12       SC
13       IA
14       MI
15       CA
16       CA
17       GA
18       TN
19       AK
20       NE
21       LA
22       LA
23       KY
24       WV
25       CA
26       WV
27       NM
28       NM
29       UT
         ..
18211    MA
18212    CA
18213    CA
18214    TX
18215    TX
18216    CA
18217    CO
18218    TX
18219    CA
18220    CA
18221    NH
18222    PA
18223    SC
18224    OK
18225    CA
18226    CA
18227    CA
18228    TX
18229    IL
18230    CA
18231    CA
18232    WI
18233    AK
18234    CA
18235    AZ
18236    IL
18237    IA
18238    WI
18239    WI
18240    FL
Name: State, Length: 18241, dtype: object

In [29]:
ufo['Location']=ufo.City+", "+ufo.State
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [34]:
ufo.shape

(18241, 6)

In [35]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [36]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
Location           object
dtype: object

In [44]:

#ufo.drop('Colors Reported',axis=1,inplace=True)
ufo.head()

,City,Shape Reported,State,Time,Location
0,Ithaca,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [45]:
ufo.drop(['State','Time'],axis=1,inplace=True)
ufo.head()

                   City Shape Reported                  Location
0                Ithaca       TRIANGLE                Ithaca, NY
1           Willingboro          OTHER           Willingboro, NJ
2               Holyoke           OVAL               Holyoke, CO
3               Abilene           DISK               Abilene, KS
4  New York Worlds Fair          LIGHT  New York Worlds Fair, NY

In [47]:
ufo=pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv',sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [50]:
ufo.State.sort_values(ascending=False).head(25)

12079    WY
11490    WY
11333    WY
4866     WY
3326     WY
3328     WY
16594    WY
1177     WY
378      WY
5065     WY
7684     WY
6116     WY
10729    WY
12072    WY
16637    WY
14618    WY
7491     WY
12063    WY
14240    WY
14586    WY
15667    WY
7485     WY
14747    WY
1461     WY
1442     WY
Name: State, dtype: object

In [51]:
ufo.sort_values('City').head()

            City Colors Reported Shape Reported State              Time
1761   Abbeville             NaN           DISK    SC   12/10/1968 0:30
4553    Aberdeen             NaN       CYLINDER    WA   6/15/1981 22:00
16167   Aberdeen             NaN        VARIOUS    OH    3/29/2000 3:00
14703   Aberdeen             NaN       TRIANGLE    WA   9/30/1999 21:00
389     Aberdeen          ORANGE         CIRCLE    SD  11/15/1956 18:30

In [52]:
ufo.sort_values(['City','State']).head(25)

,City,Colors Reported,Shape Reported,State,Time
1761,Abbeville,NaN,DISK,SC,12/10/1968 0:30
2297,Aberdeen,NaN,TRIANGLE,MD,8/18/1972 1:30
9404,Aberdeen,NaN,DISK,MD,6/15/1996 13:30
16167,Aberdeen,NaN,VARIOUS,OH,3/29/2000 3:00
389,Aberdeen,ORANGE,CIRCLE,SD,11/15/1956 18:30
4553,Aberdeen,NaN,CYLINDER,WA,6/15/1981 22:00
12294,Aberdeen,NaN,FIREBALL,WA,10/4/1998 4:42
14703,Aberdeen,NaN,TRIANGLE,WA,9/30/1999 21:00
17809,Aberdeen,GREEN,FIREBALL,WA,10/29/2000 17:25
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
8783,Abilene,NaN,NaN,KS,10/14/1995 23:20
6654,Abilene,NaN,TRIANGLE,TX,9/1/1991 1:00
8357,Abilene,NaN,SPHERE,TX,7/15/1995 0:00
10883,Abilene,NaN,NaN,TX,10/19/1997 20:45
6621,Abingdon,NaN,EGG,IL,7/15/1991 23:00
10861,Abingdon,NaN,LIGHT,VA,10/15/1997 18:40
12229,Acampo,ORANGE,TEARDROP,CA,9/25/1998 20:00
6164,Accokeek,NaN,NaN,MD,8/24/1989 23:45
3534,Accord,RED,TRIANGLE,NY,6/20/1977 20:30
705,Acoma,NaN,CYLINDER,NM,5/15/1962 21:00
7263,Acton,NaN,NaN,CA,1/15/1994 23:00
10695,Acton,ORANGE,OVAL,CA,8/15/1997 0:00
14553,Acton,GREEN,FIREBALL,CA,9/11/1999 22:16
5140,Acton,RED,TRIANGLE,ME,10/1/1984 21:00
6760,Acton to Chelmsford,NaN,TRIANGLE,MA,5/10/1992 9:45